<HTML>
	<head>
		<link rel="stylesheet" href="..\styles\style.css">
	</head> 
	<body>
		<h1>Curriculum Vitae</h1>
		<div>
			<h3>Personal Information</h3>
			Name : Shriniwas Waphare <br>	
			Age  : 24 <br>
			Sex : Male <br>
			Course : MCA <br>
			Marks : 9.51
		</div>
		<br>
		<div>
			<form method = "get" action = "parser.php">
				<input type = 'hidden' name = 'fileName' value = 'template.html'>
				<button>Parse Above Template</button>
			</form>
		</div>
	</body>
</HTML><html><form method = 'get' action = 'index.html'><button type = 'submit'>HOME</button></form></html>