<!-- 
Author - Shriniwas Waphare
Template parsing code for replacing keys with values 
-->

<HTML>
	<body>
		<h1>Curriculum Vitae</h1>
		<div>
			<h3>Personal Information</h3>
			Name : {{Name}} <br>	
			Age  : {{Age}} <br>
			Sex : {{Sex}} <br>
			Course : {{Course}} <br>
			Marks : {{Marks}}
		</div>
		<br>
		<div>
			<form method = "get" action = "parser.php">
				<input type = 'hidden' name = 'fileName' value = 'template.html'>
				<button>Parse Above Template</button>
			</form>
		</div>
	</body>
</HTML>